<!-- Footer -->
<footer class="text-center text-lg-start bg-secondary text-white">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom" >
  </section>

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Tus Pokemones
          </h6>

          <p>
            Dedicados a conocer sobre los POKEMONES
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Mapa del sitio
          </h6>
          <p>
            <a href="welcome" class="text-reset">Inicio</a>
          </p>

          <p>
            <a href="working" class="text-reset">Nosotros</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Contacto
          </h6>
          <p><i class="fas fa-home me-3"></i> Chile, Santiago 10012, CL</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            pokemones@pokemones.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 569 949206657</p>
          <p><i class="fas fa-print me-3"></i> + 569 91234567</p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://pokeapi.co/">Pokedex</a>
  </div>
</footer>
