
<div>
    <div fxLayout="column" fxLayoutAlign="space-evenly center"  class="w-100">
        <div>
            <h2 >
              Sin archivo de respaldo
            </h2>
        </div>
        <div >
            <p class="dialog-text">
                No existe un archivo de respaldo asociado 
            </p>
        </div>

        <div class="row col-12 col-md-3 d-flex ">
            <button (click)="close()" mat-raised-button color="primary" style="width: 50% !important; margin-left: 10px;">
              Aceptar
            </button>
        </div>
</div>

